@model IEnumerable<MvcGarageGroup.Models.ParkedVehicle>

<h2>Our Garage</h2>

@{
    ViewBag.Title = "View";
    AjaxOptions options = new AjaxOptions { };
    var searchForm = new MvcGarageGroup.Models.SearchForm();
    searchForm.ViewName = "Index";
}

<h2>@ViewBag.Message</h2>

<h4>@ViewBag.SaveReultMessage</h4>

@*@using (Ajax.BeginForm("Search", "ParkedVehicle", options, htmlAttributes: new { @id = "update-form" }))
{
    <div class="inputfields">

        @Html.LabelFor(model => model.SearchForm.LicensePlate)
        @Html.LabelFor(model => model.SearchForm.LicensePlate)
    </div>
}*@
@Html.Partial("SearchFormPartialView", @searchForm);

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpotID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.LicencePlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Present)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StopTime)
                </th>
                <th>
                    Overdue
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParkingSpotID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.LicencePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Present)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopTime)
                    </td>
                    <td>
                        @{

                string result = "";
            var overdue = (DateTime.Now - (DateTime)item.StopTime).TotalHours;
            if (overdue > 0) { result = Math.Round(overdue).ToString(); }
                        }
                        @result
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ParkedVehicleID }) | &nbsp;
                        @Html.ActionLink("Info", "Details", new { id=item.ParkedVehicleID }) | &nbsp;
                        @Html.ActionLink("Unpark", "Delete", new { id = item.ParkedVehicleID })
                    </td>
                </tr>
}

        </table>
        <div>
            @*<div ng-controller="StoreController">
                <h2>Disas Angular test</h2>
                <table>
                    <tr ng-repeat="item in items" class="items_list">
                        <td> {{item.Name}} -</td>
                        <td>{{item.Price}} -</td>
                        <td ng-show="show_desc">{{item.Description}} -</td>
                        <td><i>Other field</i></td>
                    </tr>
                </table>
            </div>*@


            <div ng-controller="VehicleListController">
                <form ng-submit="onButtonClick()">
                    <input type="text" ng-model="SearchText" ng-bind="SearchText" />
                    @*<input type="submit" value="search" style="margin: 5px" />*@
                    <h2>Våran Angular test</h2>
                    <table>
                        <tr>
                            <th>Parking Spot</th>
                            <th>LicencePlate</th>
                            <th>color</th>
                            <th>present</th>
                            <th>Parked</th>
                            <th>Exit Time</th>
                            <th>Overdue</th>

                        </tr>
                        <tr ng-repeat="vehicle in vehicles | filter:SearchText" class="items_list">
                            <td> {{vehicle.ParkingSpotName}}</td>
                            <td>{{vehicle.Vehicle.LicencePlate}}</td>
                            <td>{{vehicle.Vehicle.Color}}</td>
                            <td> {{vehicle.Present}}</td>
                            <td>{{vehicle.StartTime.replace('/Date(','').replace(')/','') | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{vehicle.StopTime.replace('/Date(','').replace(')/','') | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td> {{vehicle.Overdue}}</td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>





